HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/src/main/resources/application.properties
/src/main/resources/logback.xml
logs/
*.log
*.yml
*.properties
/src/test/resources
.github




### VS Code ###
.vscode/
